
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Id = Session["login"].ToString();
    var User = Services.UserService.GetById(int.Parse(Id));

    var role = Services.RoleService.GetById(int.Parse(User.RoleId.ToString()));
}

@if (role.Import_Master_Data != RoleStatus.Not_Access && role.Import_Master_Data != RoleStatus.Read_Only)
{
<div class="card">
    <div class="card-header">
        <h5 class="text-capitalize">Import Master Data</h5>
    </div>
    <div class="container mt-5">


        @if (ViewBag.message == "SheetName")
        {
            <script>
                alert("Plz, select file name");
            </script>
        }

        else if (ViewBag.message == "Error")
        {
            <script>
                alert("Error in data at sheet or type of sheet or file is open");
            </script>
        }
        @using (Html.BeginForm("Add", "ImportMasterData", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row" id="printTable">
                <div class="col-md-12">

                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Sheet Name</label>
                        <div class="col-sm-8">
                            <select class="custom-select form-control-sm w-100 " id="inlineFormCustomSelectPref" name="sheetName">
                                <option selected>Choose...</option>
                                <option value="Roles">Roles</option>
                                <option value="Users">Users</option>
                                <option value="EmpSettings">Employee Settings</option>
                                <option value="Employee">Employee</option>
                                <option value="Shift">Shift</option>
                                <option value="BasicSettings">Basic bay work settings</option>
                                <option value="BasicBayWork">Basic Bay Work</option>
                                <option value="BasicBayWorkLines">Basic Bay Work Lines</option>
                                <option value="Vacation">Vacation</option>
                                <option value="Delay">Delay</option>
                                <option value="DelayPenatlyRole">Delay Penatly Role</option>
                                <option value="AttendanceSettings">Attendance Settings</option>
                                <option value="AbsenceSettings">Absence Settings</option>
                                <option value="RecurringOneTime">Recurring/One Time</option>
                                <option value="PaymentOrDeduction">Payment/Deduction</option>
                                <option value="PaymentAndDeduction">Payment And Deduction</option>
                                <option value="ApprovedOverTime">Approved Over Time</option>
                                <option value="Personal">Personal</option>
                                <option value="InsuranceDetails">Insurance Details</option>
                                <option value="General">General</option>"
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Destination Path</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" accept=".xlsx,.xls" id="colFormLabel" name="excelFile" placeholder="col-form-label">
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary mb-3">Add</button>
                </div>
            </div>
        }

    </div>
</div>
}

