@model CompanyDetails
@{
    string x;
    if (Model != null)
    {
        x = "Edit";
    }
    else
    {
        x = "Create";
    }
}

@using(Html.BeginForm(x, "CompanyDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="card">
        <div class="container">
            <div class="card-header row" style="  padding-left: 0;padding-right: 0;">
                <div class="col-md-6" style="padding-left:0">
                    <h5 class="text-capitalize btn"> Company Details</h5>
                </div>
                <div class="col-md-6" style="text-align:right; padding-right:0">
                    <a class="btn btn-primary" href="/CompanyDetails/Index?Length=5" style="border-radius: 0px 0px 2px 30px;">Back to index</a>
                </div>
            </div>
        </div>
        <div class="card-block">
            <!-- Row start -->
            <div class="row m-b-30">

                <div class="col-lg-12 col-xl-12 col-sm-12">
                    <!--<div class="sub-title">Default</div>-->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Personal" role="tab"> Company Details</a>
                            <div class="slide"></div>
                        </li>

                    </ul>
                    <!-- Tab panes -->
                    <!-- start tab one-->
                    <div class="tab-content card-block">
                        <div class="tab-pane active" id="Personal" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-sm" for="Name">Name</label>
                                            <div class="col-sm-10">

                                                @*<input placeholder="Name" class="form-control form-control-sm text-box single-line" data-val="true" data-val-required="this is required" id="Name" name="Name" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>*@
                                                @Html.EditorFor(ww => ww.CompanyName, new { htmlAttributes = new { @class = "form-control form-control-sm text-box single-line", Placeholder = "Name" } })
                                                @Html.ValidationMessageFor(ww => ww.CompanyName, "", htmlAttributes: new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-sm" for="Name">Logo</label>
                                            <div class="col-sm-10">
                                                <input type='file' name="ImagePath" id="imgInp" />
                                                @if (Model != null)
                                                {
                                                    <img id="blah" src="/assets2/images/@Model.CompanyLogo" alt="your image" style="width:100%;height:150px" />
                                                }
                                                else
                                                {
                                                    <img id="blah" src="#" alt="your image" style="width:100%;height:150px" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab one-->
                    </div>
                </div>

            </div>
            <!-- Row end -->
            <!-- Row start -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="text-align:left">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>

                </div>
            </div>

            <!-- Row end -->
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
</script>
