@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";

    string Id = Session["login"].ToString();
    var User = Services.UserService.GetById(int.Parse(Id));
    var role = Services.RoleService.GetById(int.Parse(User.RoleId.ToString()));
}
@using Kendo.Mvc.UI

@*@section csss{*@
<link rel="stylesheet" type="text/css" href="/Content/DevExtreme/dx.common.css">
<link rel="stylesheet" type="text/css" href="/Content/DevExtreme/generic.greenmist.custom.css">
@* } *@
<div style="color:#007bff; font:bold; font-size:larger"><b>All Delay</b></div>
<div class="card">
    <div class="row container">
        <div class="col-md-9 mt-4">
            @if (role.Delay == RoleStatus.Full || role.Delay == RoleStatus.Add)
            {
                @Html.ActionLink("Create new Delay", "Create", "Delay", htmlAttributes: new { @class = "btn btn-primary" })
            }

        </div>
    </div>
    <div class="">
        <div class="table-responsive" id="myTable">
            <form>
                <div class="dx-viewport">
                    <div>
                        <div id="Grd_Data"></div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

@*@section scripts
    {*@
<script src="~/Scripts/DevExtreme/jszip.min.js"></script>
<script src="~/Scripts/DevExtreme/dx.all.js"></script>
<script src="~/Scripts/DevExtreme/cldr.min.js"></script>
<script src="~/Scripts/DevExtreme/event.min.js"></script>
<script src="~/Scripts/DevExtreme/supplemental.min.js"></script>
<script src="~/Scripts/DevExtreme/globalize.js"></script>
<script src="~/Scripts/DevExtreme/message.js"></script>
<script src="~/Scripts/DevExtreme/number.js"></script>
<script src="~/Scripts/DevExtreme/currency.js"></script>
<script src="~/Scripts/DevExtreme/date.js"></script>

<script>
    var table;
    var collapsed = false;
    var count = 0;
    var SetGrid = function (resultData) {
        $("#Grd_Data").dxDataGrid({
            columnChooser: {
                enabled: true,
                mode: "dragAndDrop" // or "select"
            },
            dataSource: resultData,
            showBorders: true,
            selection: {
                mode: "multiple"
            },
            "export": {
                enabled: true,
                fileName: "Data",
                allowExportSelectedData: true
            },
            paging: {
                pageSize: 15
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [15, 50, 100, 200, 300]
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            searchPanel: {
                visible: true,
                width: 350,
                placeholder: 'Name',
                alignment: "left"
            },
            headerFilter: {
                visible: true
            },
            remoteOperations: true,

            groupPanel: {
                visible: true,
                emptyPanelText: 'Count = ' + resultData.length,
            },
            grouping: {
                autoExpandAll: false
            },
            allowColumnReordering: true,
            rowAlternationEnabled: true,
            allowColumnResizing: true,
            columnAutoWidth: false,
            columns: [
                {
                    caption: 'Shift Id',
                    dataField: "Shift_Id",
                    dataType: "Number",
                    alignment: "center",
                    
                    width: 180
                },
                {
                    caption: 'Shift Name',
                    dataField: "ShiftName",
                    dataType: "string",
                    alignment: "center",
                    width: 180
                },
                {
                    caption: 'Worrning',
                    dataField: "item.Warning_From" + "-" +"item.Warning_To",
                    dataType: "string",
                    alignment: "center",
                    width: 180
                },
                {
                    caption: 'Allowed Delay',
                    dataField: "Allowed_Delay",
                    dataType: "string",
                    alignment: "center",
                    width: 180
                },
                
                {
                    caption: "Edit",
                    dataField: "Id",
                    alignment: "center",
                    allowFiltering: false,
                    allowSorting: false,
                    allowExporting: false,
                    width: 90,
                    cellTemplate: function (container, options) {
                        var htmlContent = '';
                        htmlContent = htmlContent + '<div width="100%" >';
                        htmlContent = htmlContent + '<table width="100%">';
                        htmlContent = htmlContent + '<tr>';
                        htmlContent = htmlContent + '<td>';
                        htmlContent =
                            htmlContent +
                            `<a style="cursor: pointer;" target="_blank" href="/Delay/Edit/${options.value
                            }" ><i class="fa fa-edit fa-2x" title="Edit"></i>`;
                        htmlContent = htmlContent + '</td>';
                        htmlContent = htmlContent + '</tr>';
                        htmlContent = htmlContent + '</table>';
                        htmlContent = htmlContent + '</div>';
                        container.append(htmlContent);
                    }
                },

            ],
            onContentReady: function (e) {
                if (!collapsed) {
                    collapsed = true;
                    e.component.expandRow(["EnviroCare"]);
                }
            }
        });
    }
    $.ajax({
        type: "GET",
        url: `/Delay/GetAll`,
        dataType: "json",
        contentType: "application/json",
        success: (res) => {
            table = res;
            console.log(table);
            SetGrid(table);

        },
        error: (e) => {
            console.log(e);
        }
    });


</script>
@*}*@


