<html lang="en" class="h-100">
<head>
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/leaf.svg">
    <title>NassarHR</title>
   <!--css--> 
    <link href="~/assets/css/main.css" rel="stylesheet">
	<link href="~/assets/css/bootstrap.css" rel="stylesheet">
	<link href="~/assets/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/dataTable/searchBuilder.dataTables.min.css" rel="stylesheet" />
    <link href="~/Assets/dataTable/dataTables.dateTime.min.css" rel="stylesheet" />
	<!--js-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src="~/assets/jquery-ui/jquery-ui.js"></script>
	<script src="~/Scripts/jquery.dataTables.min.js"></script>
	<script src="~/assets/js/AK.js"></script>
	<!script src="~/assets/js/Chart.min.js"><!/script>
    <script src="~/assets/js/Chart.umd.min.js"></script>
	<!script src="~/assets/js/charts.js"><!/script>
	<script src="~/assets/js/count-up.min.js"></script>
	<script src="~/assets/js/switch.js"></script>
    <script src="~/assets/datatable/dataTables.buttons.min.js"></script>
    <script src="~/assets/datatable/dataTables.checkboxes.js"></script>
    <script src="~/assets/datatable/dataTables.checkboxes.min.js"></script>
    <script src="~/assets/datatable/dataTables.buttons.min.js"></script>
    <script src="~/assets/datatable/jszip.min.js"></script>
    <script src="~/assets/datatable/pdfmake.min.js"></script>
    <script src="~/assets/datatable/vfs_fonts.js"></script>
    <script src="~/assets/datatable/buttons.html5.min.js"></script>
    <script src="~/assets/datatable/buttons.print.min.js"></script>
    <script src="~/assets/datatable/dataTables.fixedHeader.min.js"></script>
    <script src="~/assets/datatable/dataTables.searchBuilder.min.js"></script>
    <script src="~/assets/datatable/dataTables.dateTime.min.js"></script>

    <style>
        #sidebar
        {
            display:none;
        }
        .dropbtn {
            background-color: rgba(0, 0, 0 , 0);
            color: #aaa;
            padding: 10px;
            font-size: 22px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            color: #d9d9d9;
            background-color: #191919;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: right;
        }

        .dropdown-content a:hover {
            background-color: #515151;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            color: #F1F1F1;
        }

        .navbar-nav > li {
            font-size: 22px;
            font-weight: 500;
        }
 
@* my update *@
.updatecoler
{
  /* background: linear-gradient(to left, black, transparent) !important;*/
  /*background: #7db4e3c2;*/
}
.upcolerli 
{
    color: blue !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    border-radius: 6px !important;
}
#sidebar ul li a 
{    
    font-size: 17px !important;
    color: #671e1e;
    text-decoration: none;
}
}
.detail-subtitle {
    color: gold !important;
}
    </style>
</head>
<script>
    var EMPS = [];
	var s=null;
</script>

@{
    Int32 userId=0; 
}
@if(Request.Cookies["UserId"]!=null){
     userId=Int32.Parse(Request.Cookies["UserId"].Value);
}
<script>
    var EMPS = [];
	EMPS = EmpGet(@userId);
	//console.log(EMPS);
    var sql=`
    select e.FileNumber,a.* from Attendances a join Employees e on a.EmployeeId=e.id
where (TimeFrom='' or TimeTo='') and DateFrom<dateadd(day,-3,GETDATE())
and
(
    ( DATEPART(day,DateFrom)<26 and  datefrom>=cast(cast(DATEPART(YEAR,GETDATE())as varchar(4))+'-'+cast(DATEPART(MONTH,dateadd(month,-1,GETDATE())) as varchar(2))+'-'+'26' as datetime))
    or
    ( DATEPART(day,DateFrom)>=26 and  datefrom>=cast(cast(DATEPART(YEAR,GETDATE())as varchar(4))+'-'+cast(DATEPART(MONTH,GETDATE()) as varchar(2))+'-'+'26' as datetime))
)
`
//console.log(sql)
//var data=readSQL(sql);
//console.log(data);
</script>
<body class="d-flex flex-column h-100">
    <div id="page" style="display: block">
        <div class="wrapper">
            <nav id="sidebar" class="updatecoler">
                <div style="display: flex;width: 108%;" class="sidebar-header text-center">
                    <img src="~/assets/img/logo.jpg" alt="logo" class="app-logo" style="width: 81%;height: 83%;box-shadow: -1px 0px 15px 1px red;border-radius: 33%;">
                    <!--<h4 class="sidebar-title theme-item">AVNI</h4>-->
                </div>

                <ul class="list-unstyled components text-secondary upcolerli">
                    <li><a href="~/home/index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home data-feather theme-item"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> <span class="theme-item">Home</span></a>
                    </li>

                    <li><a href="~/atttable/index"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid data-feather theme-item"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg> <span class="theme-item">
                        جدول الحضور</span></a>
                    </li>
                @if(Request.Cookies["Salary"]!=null && Int32.Parse(Request.Cookies["Salary"].Value)>1){
               
                    <li>
					    <div class="sidebardropdown">
                            <a href="javascript:void(0);" class="sidebar-dropdown-btn" id="dropdown-btn" onclick=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid data-feather theme-item"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg> <span class="theme-item"> المرتبات </span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up sidenaviconopen float-end" id="sidenavicon"><polyline points="18 15 12 9 6 15"></polyline></svg></a>
                            <div class="dropdown-container">
								<a href="~/Truant/SalaryIndex"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users data-feather theme-item"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg> <span class="data-feather theme-item">
									أنشاء المرتبات</span></a>
								<a href="~/Truant/SalarySheet"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users data-feather theme-item"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg> <span class="data-feather theme-item">
									ارشيف المرتبات</span></a>
                            </div>
                        </div>
				    </li>
                }
                @if(Request.Cookies["FingerMachine"]!=null && Int32.Parse(Request.Cookies["FingerMachine"].Value)>1){
                    <li>
                        <div class="sidebardropdown">
                            <a href="javascript:void(0);" class="sidebar-dropdown-btn" id="dropdown-btn" onclick=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid data-feather theme-item"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg> <span class="theme-item"> ماكينات البصمة</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up sidenaviconopen float-end" id="sidenavicon"><polyline points="18 15 12 9 6 15"></polyline></svg></a>
                            <div class="dropdown-container">
                                <a href="~/Mac/MacUp" class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                     سحب من الماكينات</span>
                                </a> 
                                <a href="~/Mac/MacAtt" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                     رفع الحضور 
                                    </span>
                                </a>
								<a href="~/Mac/MacReport" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                     تقرير تحركات
                                    </span>
                                </a>
                     
                            </div>
                        </div>
                    </li>
                }
                
                <li>
                        <div class="sidebardropdown">
                            <a href="javascript:void(0);" class="sidebar-dropdown-btn" id="dropdown-btn" onclick=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid data-feather theme-item"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg> <span class="theme-item">البيانات الاساسية </span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up sidenaviconopen float-end" id="sidenavicon"><polyline points="18 15 12 9 6 15"></polyline></svg></a>
                            <div class="dropdown-container">
                                <a href="~/MasterData/employees" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                         بيانات العمال
                                    </span>
                                </a>
                                <a href="~/MasterData/BasicPayWorks" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                         مفردات المرتب
                                    </span>
                                </a>
                                <a href="~/MasterData/jobHistory" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                       التاريخ الوظيفي
                                    </span>
                                </a>
                                	
                            </div>
                        </div>
                    </li>
                    
                @if(Request.Cookies["TempShifts"]!=null && Int32.Parse(Request.Cookies["TempShifts"].Value)>1){
                    <li>
                        <div class="sidebardropdown">
                            <a href="javascript:void(0);" class="sidebar-dropdown-btn" id="dropdown-btn" onclick=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid data-feather theme-item"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg> <span class="theme-item"> ضبط اوقات العمل</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up sidenaviconopen float-end" id="sidenavicon"><polyline points="18 15 12 9 6 15"></polyline></svg></a>
                            <div class="dropdown-container">
                                    <a href="~/masterdata/shifts" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                        تعديل الورديات
                                    </span>
                                </a>
                                <a href="~/TempShift/Entry" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                       تسجيل ورديات للاشخاص
                                    </span>
                                </a>
                                <a href="~/delay/index" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                       تاخيرات
                                    </span>
                                </a>
                                <a href="~/leave/index" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                       انصراف مبكر
                                    </span>
                                </a>
                                <a href="~/masterdata/officialVacations" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                      أجازات رسمية
                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    }
                     @if(Request.Cookies["TempShifts"]!=null && Int32.Parse(Request.Cookies["TempShifts"].Value)>1){
                    <li>
                        <div class="sidebardropdown">
                            <a href="javascript:void(0);" class="sidebar-dropdown-btn" id="dropdown-btn" onclick=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid data-feather theme-item"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg> <span class="theme-item">أستقطاعات
							</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up sidenaviconopen float-end" id="sidenavicon"><polyline points="18 15 12 9 6 15"></polyline></svg></a>
                            <div class="dropdown-container">
                                <a href="~/Payments/Index" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                       الاستقطاعات
                                    </span>
                                </a>
								
                            </div>
                        </div>
                    </li>
                    }

                    <li>
                        <div class="sidebardropdown">
                            <a href="javascript:void(0);" class="sidebar-dropdown-btn" id="dropdown-btn" onclick=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid data-feather theme-item"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg> <span class="theme-item">تقارير </span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up sidenaviconopen float-end" id="sidenavicon"><polyline points="18 15 12 9 6 15"></polyline></svg></a>
                            <div class="dropdown-container">
                                <!--a href="~/reports/employees" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                        تقرير بيانات العمال
                                    </span>
                                </a-->
                                <a href="~/DeferredVacations/index" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                        تقرير رصيد الاجازات
                                    </span>
                                </a>
                                <a href="~/Truant/index" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                       تقرير الغياب
                                    </span>
                                </a>
                                <a href="~/reports/All" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                      المواظبة
                                    </span>
                                </a>
                                <a href="~/reports/Attendance" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                       تقرير اضافي+اجازات 
                                    </span>
                                </a>
                                <!--a href="~/reports/All" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                       تقرير حضور بأرقام الملفات 
                                    </span>
                                </a-->
                                <!--a href="~/reports/report" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                        تقرير مفردات المرتب
                                    </span>
                                </a-->
								<a href="~/reports/Payments" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                        تقرير خصومات
                                    </span>
                                </a>
								<a href="~/reports/loans" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                        تقرير سلف
                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                     @if(Request.Cookies["Logs"]!=null && Int32.Parse(Request.Cookies["Logs"].Value)>1){
					<li>
                        <div class="sidebardropdown">
                            <a href="javascript:void(0);" class="sidebar-dropdown-btn" id="dropdown-btn" onclick=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid data-feather theme-item"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg> <span class="theme-item">ادارة </span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up sidenaviconopen float-end" id="sidenavicon"><polyline points="18 15 12 9 6 15"></polyline></svg></a>
                            <div class="dropdown-container">
                                <a href="~/roles/usersindex" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                       مستخدمين
                                    </span>
                                </a>
                                <a href="~/roles/index" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                        صلاحيات مستخدمين
                                    </span>
                                </a>
								<a href="~/changelog/index" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                        مراقبة التغيرات
                                    </span>
                                </a>
                                <a href="~/PostingPeriod/index" class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file data-feather theme-item"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> <span class="data-feather theme-item">
                                        قفل العمليات
                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    }

                </ul>
                <div class="text-center mt-5 mb-5">

                </div>
            </nav>
            <div id="bodywrapper" class="container-fluid showhidetoggle">
                <nav style="background-color: rgba(120, 0, 0 , 0.5);"  class="navbar navbar-expand-md navbar-white bg-white py-0 container-fluid" aria-label="navbarexample" id="navbar">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" onclick="$('#sidebar').toggle()" class="btn btn-light py-0" style="display: block;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg> <span></span>
                        </button>
                        
                        <button class="navbar-toggler py-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></span>
                        </button>
                        <div class="collapse navbar-collapse mx-1" id="navbarsExample04">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <div class="nav-dropdown">
                                        <a class="nav-item nav-link active text-secondary py-0" aria-current="page" href="~/home/index"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home data-feather theme-item"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> <span class="theme-item">Home </span></a>
                                    </div>
                                </li>
                               
                            
                                </ul>
                                
                             <div class="alerts">
                                <div class="nav-dropdown py-0">
                                    <a href="/noti/index" class="position-relative nav-item nav-link dropdown-toggle text-secondary py-0" id="navbarDropdown4">
                                        <img class="theme-item user-avatar" src="~/assets/img/Icon2.svg" alt="User image"> <!--<i class="theme-item" -->
                                        <span id="noti" class="position-absolute start-100 translate-middle badge rounded-pill bg-danger">
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="usermenu">
                                <div class="nav-dropdown py-0">
                                    <a href="#" class="nav-item nav-link dropdown-toggle text-secondary py-0" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img class="theme-item user-avatar" src="~/assets/img/Icon29.svg" alt="User image"> <!--<i class="theme-item" -->
                                        <!--data-feather="user"></i> --> 
                                        @{var userName=Request.Cookies["UserName"]==null?"":Request.Cookies["UserName"].Value;} 
                                        <span  id="userName" class="theme-item">@userName</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down theme-item"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-right" aria-labelledby="navbarDropdown3">
                                        <li><a href="profile.html" class="dropdown-item mt-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user data-feather"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Profile</a></li>
                                        <li><a href="#" class="dropdown-item mt-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail data-feather"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg> Messages</a></li>
                                        <li><a onclick="logOut()" class="dropdown-item mt-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out data-feather"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <div class="content">
                    <center>
                    @RenderBody()
                    </center>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-1 mx-4">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                
                Copyright © (I.T. Nassar Group) 2022
                <script>
					//document.write(new Date().getFullYear())
                </script>
            </span>
        </div>
    </footer>
    <div id="loading" class="spinner-border text-primary align-middle" role="status" style="display: none;"></div>
    <button class="btn btn-sm btn-primary rounded-circle" onclick="scrollToTopFunction()" id="scrollToTop" title="Scroll to top" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="16 12 12 8 8 12"></polyline><line x1="12" y1="16" x2="12" y2="8"></line></svg>
    </button>
    <!--script src="~/assets/js/feather.min.js"></script-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/script.js?version=2.1"></script>
    <script src="~/assets/js/anijs.js"></script>
    <script src="~/assets/js/anijs-helper-scrollreveal.js"></script>
    <script type="text/javascript">
    //$('#sidebarCollapse').click();
	document.addEventListener("DOMContentLoaded", function(event) {
		//feather.replace();	
        //console.log("old loaded");
        $("#page").show()
	});
    function logOut()
	{
      EMPS=[];
	  location.href="/home/logout";
	}
    /*
    var source = new EventSource("/SSE/SSE_CNT");
    source.onmessage = function (event) {
        console.log(event.data);
    }
    source.onerror = function (event) {
            console.log(event.data);
        }
        */
         /*if (window.Worker) {
            console.log('Your browser support web workers.');
           const myWorker = new Worker("/assets/worker.js");
                myWorker.onmessage = function (e) {
                //console.log(e.data)
                var v=JSON.parse(e.data).filter(e=>EMPS.includes(e.FileNumber))
                console.log(v.length)

                if(v.length==0){ $("#noti").hide()}
                else{ 
                    $("#noti").show();
                    $("#noti").html(v.length)
                    }
                //console.log()
                //console.log('Message received from worker');
                
            }
        } else {
            console.log('Your browser doesn\'t support web workers.');
        }*/
    </script>
   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>