@{
    ViewBag.Title = "Log";
    Layout = null;
}

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        overflow: auto;
        background-color: #3b5998;
        /* Facebook blue */
    }

    .card {
        margin-bottom: 20px;
        border: none;
        background-color: #f7f7f7;
        /* Light grey */
    }

    .box {
        width: 650px;
        padding: 35px;
        background: #ffffff;
        /* White */
        text-align: center;
        transition: 0.25s;
        margin: 5% auto;
        border-radius: 10px;
        box-shadow: 4px 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .text-muted {
        color: #8b9dc3 !important;
        /* Light blue */
        font-size: 27px;
    }

    .box input[type="text"],
    .box input[type="password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3b5998;
        /* Facebook blue */
        padding: 10px 10px;
        width: 375px;
        outline: none;
        color: #3b5998;
        /* Facebook blue */
        border-radius: 24px;
        transition: 0.25s;
        margin-top: 39px;
        font-size: 20px;
    }

    .box h1 {
        color: #3b5998;
        /* Facebook blue */
        text-transform: uppercase;
        font-weight: 800;
        font-size: 41px;
    }

    .box input[type="text"]:focus,
    .box input[type="password"]:focus {
        width: 300px;
        border-color: #8b9dc3;
        /* Light blue */
    }

    .box input[type="submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #8b9dc3;
        /* Light blue */
        padding: 14px 40px;
        outline: none;
        color: #3b5998;
        /* Facebook blue */
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        font-size: 23px;
        margin-top: 62px;
    }

    .box input[type="submit"]:hover {
        background: #8b9dc3;
        /* Light blue */
    }

    .forgot {
        text-decoration: underline;
    }

    ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0 !important;
        padding: 0;
    }

    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }

    .social-network a.icoFacebook:hover {
        background-color: #3b5998;
        /* Facebook blue */
    }

    .social-network a.icoTwitter:hover {
        background-color: #33ccff;
    }

    .social-network a.icoGoogle:hover {
        background-color: #bd3518;
    }

    .social-network a.icoFacebook:hover i,
    .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i {
        color: #fff;
    }

    a.socialIcon:hover,
    .socialHoverClass {
        color: #44bcdd;
    }

    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        border-radius: 50%;
        text-align: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .social-circle li i {
        margin: 0;
        line-height: 50px;
        text-align: center;
    }

    .social-circle li a:hover i,
    .triggeredHover {
        transform: rotate(360deg);
        transition: all 0.2s;
    }

    .social-circle i {
        color: #fff;
        transition: all 0.8s;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 1px 1px 4px 3px powderblue;
    }
</style>
<main>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col">
                <!-- <div class="card">
                <div class="card-body"> -->
                <form id="login-form" action="/home/login" method="post" class="box">
                    <img class="mb-4" src="~/assets/img/group.png" alt="Logo" width="72" height="57">
                    <h1>تسجيل الدخول</h1>
                    <p class="text-muted">من فضلك ادخل البيانات</p>
                    <input type="text" name="UserName" placeholder="اسم المستخدم">
                    <input type="password" name="Password" placeholder="الباسورد">
                    <input type="submit" value="تسجيل">
                </form>

                <!-- </div>
            </div> -->
            </div>
        </div>
    </div>
</main>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $("#login-form").submit((e) => {
        e.preventDefault();

        // Prevent the default form submission

        //console.log($("#login-form").serializeArray())
        console.log($("#login-form").serialize());
        @* $.ajax({
            url: "/home/login",
            type: "POST",
            data: $("#login-form").serialize(),
            success: (res) => {
                console.log(res); *@
                $.ajax({
                    url: "/AK_Users/ak_login?" + $("#login-form").serialize(),
                    success: (res) => {
                        console.log(res);
                        if (res[0].status == "success") {
                            location.href = "/home/";
                        }
                        else {
                            alert(res[0].message)
                        }
                    },
                    fail: (res) => {
                        console.log(res)
                        //console.log(res)
                        //alert(JSON.parse(res.responseText).status[0].message)
                    },
                    error: (res) => {
                        //console.log(res.responseText)
                        //console.log(res)
                        //alert(JSON.parse(res.responseText).status[0].message)
                    }
                })
            @* },
            error: (res) => {
                console.log(res);
                alert("An error occurred while processing your request.");
            }
        }); *@
        /*e.preventDefault();
        //console.log($("#login-form").serializeArray())
        console.log($("#login-form").serialize())
        */
    })
</script>