
.row {
    justify-content: center;
    /*direction: rtl;*/
    margin-bottom:4px;
}
.row-reversed {
    justify-content: center;
    direction: rtl;
}
td {
    font-size: 16px;
    font-weight: 600;
}

#loader {
    display: none;
    z-index: 5;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}

#contextMenu {
    position: absolute;
    display: none;
}

.wrap {
    width: 90%;
    display: block;
    margin: 0 auto;
}

table {
    border: 1px solid rgba(221, 221, 221, 1);
}

tr:nth-child(even) {
    background: #F5F5F5;
}

th {
    border-bottom:4px double black;
    text-align:center;
    vertical-align:central;
    font-weight:900;
}

tr {
    position: relative;
}
td {
    text-align:center;
    vertical-align:central;
}

tr:hover {
        background: #c9e8f7;
        position: relative;
}
@font-face {
  /* font-family: myFirstFont;
   src: url(webfonts/Cairo-Bold.ttf);*/
}

* {
   /*font-family: myFirstFont;*/
}
.dropdown-menu li{
    cursor:pointer;
}
#mytable {
    width:90%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: middle;
    border-color: #ffc107;
}

.modal-content{
    background-image:linear-gradient(45deg,skyblue,white);
}
.modal-header {
    background-image:linear-gradient(135deg,blue,white);
    direction:rtl;
}
input, select {
border-radius:10px;
}
input[type=radio] {
    transform:scale(1.5);
    margin-right:4px;
    margin-left:4px;
}
.close {
border:0px;
background-color:transparent;
font-size:24px;
}