
<head>
    <link rel="stylesheet" href="~/Assets/Attendance.css">
    <style>
        .sp-ch {
            display: none;
        }

        td:hover {
            scale: 1.2;
        }
    </style>
</head>

<h2>جدول الحضور</h2>
<hr>
<div id="empContainer" title="بيانات العمال">
    <table id=empTable style="width:100%"></table>
</div>
<div class="container mx-auto">
    <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12">
            <form method="post" onsubmit="getTable(); return false;" style="
                border: 1px aliceblue solid;
                background-color: #9dc8ed;
                border-radius: 7%;
                padding: 16px;
                box-shadow:0 0 10px 5px #afafaf; 
            ">
                <div class="container mx-auto">
                    <div class="row row-reversed">
                        <div class="col p-1">
                            رقم االملف
                        </div>
                        <div class="col-9 p-1">
                            <div class="input-group">
                                <input id="FN" type="number" class="form-control">
                                <input id="FNChoose" type="button" class="btn btn-outline-dark" value="☰"
                                    onclick="dialog.dialog('open')">
                            </div>
                        </div>
                    </div>
                    <div class="row row-reversed">
                        <div class="col  p-1">
                            الشهر
                        </div>
                        <div class="col-9  p-1">
                            <select id="M" class="form-control">
                                <option value="1">1-يناير</option>
                                <option value="2">2-فبراير</option>
                                <option value="3">3-مارس</option>
                                <option value="4">4-ابريل</option>
                                <option value="5">5-مايو</option>
                                <option value="6">6-يونيو</option>
                                <option value="7">7-يوليو</option>
                                <option value="8">8-اغسطس</option>
                                <option value="9">9-سبتمبر</option>
                                <option value="10">10-اكتوبر</option>
                                <option value="11">11-نوفمبر</option>
                                <option value="12">12-ديسمبر</option>
                            </select>
                        </div>
                    </div>
                    <div class="row row-reversed">
                        <div class="col p-1">
                            السنة
                        </div>
                        <div class="col-9 p-1">
                            <select id="Y" class="form-control">
                                <option value="2025">2025</option>
                                <option value="2024">2024</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 p-1">
                            <input type="submit" onclick="" class="w-100 btn btn-success" value="تأكيد">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="personal_data" class="col-xl-6 col-md-6 col-sm-12">
        </div>
    </div>
</div>
<div id="loader"><img src="~/3.gif" style="margin:auto;width:350px;"></div>
<div id="mytable" class=" table table-responsive">

</div>
<div id="mytable2" class=" table table-responsive">

</div>
@if (Int32.Parse(Request.Cookies["ClosingPeriod"].Value) >= 3)
{
    <div class="card" style="border:none;">
        <table class='table' id="salary" style="" dir=rtl>

        </table>
    </div>
}

@if (Int32.Parse(Request.Cookies["Attendance"].Value) >= 3)
{
    <div class="myModal modal fade MODALIN" id="MODALIN" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false"
        aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle" style="text-align:center">حضور</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
                    <div class="row">
                        <div class="col-6">
                            <div id="DIN" class="datefrom" style="border-radius:10px;text-align:right"></div>
                        </div>
                        <div class="col-6">
                            التاريخ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="time" id="TIN" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-6">
                            الميعاد
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input type="checkbox" class="dayIn">
                            ترحيل للغد
                        </div>
                        <div class="col-6">
                            <select id="deviceIN" onchange="$('#TIN').val( $('#deviceIN').val())"></select>
                        </div>
                        <div class="col-2">
                            من البصمة
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button id="ADDIN" type="button" onclick="ins_in()" class="btn btn-success"
                            data-bs-dismiss="modal">أضافة</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="myModal modal fade MODALOUT" id="MODALOUT" tabindex="-1" role="dialog" aria-labelledby=""
        aria-hidden="false" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle" style="text-align:center">انصراف</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
                    <div class="row">
                        <div class="col-6">
                            <div id="DOUT" class="datefrom" style="border-radius:10px;text-align:right"></div>
                        </div>
                        <div class="col-6">
                            التاريخ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="time" id="TOUT" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-6">
                            الميعاد
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input type="checkbox" class="dayOut">
                            ترحيل للغد
                        </div>
                        <div class="col-6">
                            <select id="deviceOUT" onchange="$('#TOUT').val( $('#deviceOUT').val())"></select>
                        </div>
                        <div class="col-2">
                            من البصمة
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="ADDOUT" type="button" onclick="ins_out()" class="btn btn-success"
                            data-bs-dismiss="modal">أضافة</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Int32.Parse(Request.Cookies["Mission"].Value) >= 3)
{
    <div class="myModal modal fade " id="MODALMission" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false"
        aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle" style="text-align:center">مأمورية</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
                    <div class="row">
                        <div class="col-6">
                            <div id="DMission" class="datefrom" style="border-radius:10px;text-align:center"></div>
                        </div>
                        <div class="col-6">
                            التاريخ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input type="time" id="TOUTMission" style="border-radius:10px;text-align:center">
                        </div>

                        <div class="col-2">
                            الي
                        </div>
                        <div class="col-4">
                            <input type="time" id="TINMission" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-2">
                            من
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <select id="deviceMOUT" onchange="$('#TOUTMission').val( $('#deviceMOUT').val())"></select>
                        </div>
                        <div class="col-2"> </div>
                        <div class="col-4">
                            <select id="deviceMIN" onchange="$('#TINMission').val( $('#deviceMIN').val())"></select>
                        </div>
                        <div class="col-2"> من البصمة</div>

                    </div>
                    <div class="modal-footer">
                        <button id="ADDMission" onclick="ins_mission()" type="button" class="btn btn-success"
                            data-bs-dismiss="modal">أضافة</button>
                        <button id="DELMission" onclick="del_mission()" style="float:left" type="button"
                            class="btn btn-danger  " data-bs-dismiss="modal">حذف</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Int32.Parse(Request.Cookies["OverTime"].Value) >= 3)
{
    <div class="myModal modal fade " id="ModalOvertime" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="false" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">الاضافي</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
                    <div class="row">
                        <div class="col-6">
                            <div id="modalDate" class="datefrom" style="text-align:center;"></div>
                        </div>
                        <div class="col-6">
                            <div style="text-align:right;font-size:20px;font-weight:bold">التاريخ</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <input type="number" id="bfr_txt" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-3">
                            أضافي قبل
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <input type="number" id="afr_txt" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-3">
                            أضافي بعد
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button id="add" onclick="ins_overtime()" type="button" class="btn btn-success  "
                            data-bs-dismiss="modal">أضافة</button>
                        <button id="delete" onclick="del_overtime()" style="float:left" type="button"
                            class="btn btn-danger  " data-bs-dismiss="modal">حذف</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Int32.Parse(Request.Cookies["Vacation"].Value) >= 3)
{
    <div class="myModal modal fade " id="ModalVacation" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false"
        aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">اجازة</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">

                    <div class="row">
                        <div class="col-8">
                            <div id="modalDate" class="datefrom" style="text-align:center;"></div>
                        </div>
                        <div class="col-4">
                            التاريخ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input type="time" id="vacTo" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-2">
                            الي
                        </div>
                        <div class="col-4">
                            <input type="time" id="vacFrom" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-2">
                            من
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <select id="vacValue" class="input-lg" style="border-radius:10px;text-align:center" >
                                <option value="1">يوم</option>
                                <option value=".5">نصف يوم</option>
                                <option value=".25">ربع يوم</option>
                            </select>
                        </div>
                        <div class="col-3">
                            قيمة الاجازة
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <select id="type" class="input-lg" onchange="checkType(this.value)"></select>
                        </div>
                        <div class="col-4">
                            نوع الاجازة
                        </div>
                    </div>
                    <div class="row" id="officialDiv" style="display:none;">
                        <div class="col-8">
                            <select id="official" class="input-lg "></select>
                        </div>
                        <div class="col-4">
                            الاجازة الرسمية
                        </div>
                    </div>
                    <div class="row" id="exchangeDiv" style="display:none;">
                        <div class="col-8">
                            <input type="date" id="exchange" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-4">
                            تاريخ البدل
                        </div>
                    </div>
                    <div class="row" id="qtrDiv" style="display:none">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-3">
                                    الاول<input type="radio" name="qtr" id="qtr1" value="1" checked>
                                </div>
                                <div class="col-3">
                                    الثاني<input type="radio" name="qtr" id="qtr2" value="2">
                                </div>
                                <div class="col-3">
                                    الثالث<input type="radio" name="qtr" id="qtr3" value="3">
                                </div>
                                <div class="col-3">
                                    الرابع<input type="radio" name="qtr" id="qtr4" value="4">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            أختر
                        </div>
                    </div>
                    <div class="row" id="hlfDiv" style="display:none">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-6">
                                    الاول<input type="radio" name="hlf" id="hlf1" value="1" checked>
                                </div>
                                <div class="col-6">
                                    الثاني<input type="radio" name="hlf" id="hlf2" value="2">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            اختر
                        </div>
                    </div>
                    <div class="row" id="shftDiv" style="">
                        <div class="col-9">
                            <select id="shft" class="form-control"></select>
                        </div>
                        <div class="col-3">
                            الوردية
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="add" onclick="ins_vacation()" type="button" class="btn btn-success  "
                            data-bs-dismiss="modal">أضافة</button>
                        <button id="delete" onclick="del_vacation()" style="float:left" type="button"
                            class="btn btn-danger  " data-bs-dismiss="modal">حذف</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Int32.Parse(Request.Cookies["TempShifts"].Value) >= 3)
{
    <div class="myModal modal fade " id="ModalTemp" tabindex="-1" role="dialog" aria-labelledby="vacation"
        aria-hidden="false" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">تسجيل ورديه خاصه</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
                    <div class="row">
                        <div class="col-4">
                            <input type="date" id="dateTo" class="dateTo form-control" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-2">
                            الى
                        </div>
                        <div class="col-4">
                            <input type="date" id="dateFrom" class="dateFrom form-control" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-2">
                            من
                        </div>
                    </div>
                    <!--div class="row">
                        <div class="col-4">
                            <input type="time" id="timeTo" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-2">
                            الى
                        </div>
                        <div class="col-4">
                            <input type="time" id="timeFrom" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-2">
                            من
                        </div>
                    </div-->
                    
                    <div class="row">
                        <div class="col-3">
                            الوردية
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <select class="form-control" name="shiftId" id="shiftId" style="border-radius:10px;text-align:center"></select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button id="add" type="button" onclick="ins_temp()" class="btn btn-success  "
                            data-bs-dismiss="modal">أضافة</button>
                        <button id="del_temp" type="button" onclick="del_temp()" class="btn btn-danger  "
                            data-bs-dismiss="modal">ازالة التأثير</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Int32.Parse(Request.Cookies["Attendance"].Value) >= 3)
{
    <div class="myModal modal fade " id="MODALATT" tabindex="-1" role="dialog" aria-labelledby="vacation"
        aria-hidden="false" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle" style="text-align:center"> ** حضور **</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
                    <div class="row">
                        <div class="col-6">
                            <div id="DIN" class="datefrom" style="border-radius:10px;text-align:right"></div>
                        </div>
                        <div class="col-6">
                            التاريخ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="number" id="ATTvalue" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-6">
                            القيمة
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button id="ADD" onclick="ins_ATT()" type="button" class="btn btn-success"
                            data-bs-dismiss="modal">أضافة</button>
                        <button id="DELETE" onclick="del_ATT()" type="button" class="btn btn-danger"
                            data-bs-dismiss="modal">حذف</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Int32.Parse(Request.Cookies["Attendance"].Value) >= 3)
{
    <div class="myModal modal fade " id="MODALLATE" tabindex="-1" role="dialog" aria-labelledby="vacation"
        aria-hidden="false" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle" style="text-align:center">تأخير</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
                    <div class="row">
                        <div class="col-6">
                            <div id="DIN" class="datefrom" style="border-radius:10px;text-align:right"></div>
                        </div>
                        <div class="col-6">
                            التاريخ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="number" id="LATEvalue" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-6">
                            القيمة
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button id="ADD" onclick="ins_LATE()" type="button" class="btn btn-success"
                            data-bs-dismiss="modal">أضافة</button>
                        <button id="DELETE" onclick="del_LATE()" type="button" class="btn btn-danger"
                            data-bs-dismiss="modal">حذف</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@if (Int32.Parse(Request.Cookies["Attendance"].Value) >= 3)
{
    <div class="myModal modal fade " id="MODALLEAVE" tabindex="-1" role="dialog" aria-labelledby="vacation"
        aria-hidden="false" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle" style="text-align:center">انصراف </h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
                    <div class="row">
                        <div class="col-6">
                            <div id="DIN" class="datefrom" style="border-radius:10px;text-align:right"></div>
                        </div>
                        <div class="col-6">
                            التاريخ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="number" id="LEAVEvalue" style="border-radius:10px;text-align:center">
                        </div>
                        <div class="col-6">
                            القيمة
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="ADD" onclick="ins_LEAVE()" type="button" class="btn btn-success"
                            data-bs-dismiss="modal">أضافة</button>
                        <button id="DELETE" onclick="del_LEAVE()" type="button" class="btn btn-danger"
                            data-bs-dismiss="modal">حذف</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--الخصم -->

    <div class="myModal modal fade " id="MODALDEDU" tabindex="-1" role="dialog" aria-labelledby="vacation">
        aria-hidden="false" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="" style="text-align:center">الجزاءات</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
                    <div class="card" dir="rtl">

                        <div class="row m-1">
                            <div class="col-3">
                                <label>
                                    التاريخ
                                </label>
                            </div>
                            <div class="col-9">
                                <input type="date" class="form-control" name="date" id="date" required="">
                            </div>
                        </div>
                        <div class="row m-1" style="display:none">
                            <div class="col-3">
                                <label>
                                    نوع الاستقطاع
                                </label>
                            </div>
                            <div class="col-9">
                                <select class="form-control" name="type" id="type">
                                    <option value="6">بدل أجازة سنوية</option>
                                    <option value="11">تسديد مبلغ سلفة نقدا</option>
                                    <option value="4" selected>جزاء</option>
                                    <option value="3">خصم</option>
                                    <option value="1">سلف</option>
                                    <option value="9">صندوق زمالة</option>
                                    <option value="8">قسط تأمين خاص</option>
                                    <option value="7">كشف تأمين صحي</option>
                                    <option value="10">مزاولة مهنة</option>
                                    <option value="5">مكافأة</option>
                                    <option value="2">ملابس</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label>
                                    total/net
                                </label>
                            </div>
                            <div class="col-9">
                                <select class="form-control" name="totalNet" id="totalNet" readonly>
                                    <option value="0" selected>أجمالي</option>
                                    <option value="1">صافي</option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-1">
                            <div class="col-3">
                                <label>
                                    المبلغ
                                </label>
                            </div>
                            <div class="col-9">
                                <input type="text" placeholder="في حالة الخصم بالايام لا تضع المبلغ" class="form-control" name="amount" id="amount" required="">
                            </div>
                            <div class="col-3">
                                <label>
                                    عدد ايام(الجزاءات)
                                </label>
                            </div>
                            <div class="col-9">
                                <input type="number" class="form-control" step="1" value="1" name="daysNumber"
                                    id="daysNumber" onchange="convert(this.value)" onkeyup="convert(this.value)"
                                    required="">
                            </div>
                        </div>
                        <div class="row m-1">
                            <div class="col-3">
                                <label>
                                    ملاحظات
                                </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" name="remarks" id="remarks">
                            </div>
                            <div class="col-3">
                                <label>
                                    عدد الشهور
                                </label>
                            </div>
                            <div class="col-9">
                                <input type="number" class="form-control" value="1" name="times" id="times" required="">
                            </div>

                        </div>
                        <div class="row m-1" style="display:none">
                            <div class="col-3">
                                <label>
                                    سبب الجزاء
                                </label>
                            </div>
                            <div class="col-9">
                                <select class="form-control" name="reason" id="reason">
                                    <option value="-1"></option>
                                    <option value="1">الاهمال في العمل</option>
                                    <option value="2">النوم اثناء العمل</option>
                                    <option value="3">استخدام الموبايل لفترة طويلة</option>
                                    <option value="4">الغياب بدون اذن</option>
                                    <option value="5">التحدث بطريقة غير لائقة</option>
                                    <option value="6">الجلوس لاكثر من ساعة</option>
                                    <option value="7">شرب السجائر</option>
                                    <option value="8">الجلوس خارج العنبر</option>
                                    <option value="9">معيب</option>
                                    <option value="10">عدم نظافة العنبر</option>
                                    <option value="11">تحقيق</option>
                                    <option value="12">تاخير عن العمل</option>
                                    <option value="13">كثرة الهالك</option>
                                    <option value="14">سوء جودة</option>
                                    <option value="15">مسامير رايش</option>
                                    <option value="16">قلة الانتاج</option>
                                    <option value="17">سوء سلوك</option>
                                    <option value="18">غياب بدون اذن</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label>
                                    القائم بالجزاء
                                </label>
                            </div>
                            <div class="col-9">
                                <div class="row" style="display:none">
                                    <div class="col-9">
                                        <input type="number" class="form-control" name="by" id="by"
                                            onfocusout="/*selectList2(this.value)*/">
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="btn" id="openList2">☰</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="ADD" onclick="create_dedu()" type="button" class="btn btn-success"
                        data-bs-dismiss="modal">أضافة</button>
                    <button id="DELETE" onclick="delete_dedu()" type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">حذف</button>
                </div>
            </div>
        </div>
    </div>

    <!--الخصم -->
}


@if (Int32.Parse(Request.Cookies["Mission"].Value) >= 3)
{
    <div class="myModal modal fade " id="MODALSPECIAL" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false"
        aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle" style="text-align:center">مأمورية</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false" aria-modal="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
                    <div class="row"><!--#DRemove-->
                        <div class="col-6">
                            <div id="DRemove" class="datefrom" style="border-radius:10px;text-align:center"></div>
                        </div>
                        <div class="col-6">
                            التاريخ
                        </div>
                    </div>
                    <div class="row "><!--#specialChoise-->
                        <div class="col-6">
                            <select id="specialChoise" class="form-control">
                                <option value="1">اذن خاص</option>
                                <option value="2">مأمورية</option>
                                <option value="3">اجازة</option>
                                <option value="4">غياب</option>
                                <option value="5">طعام/ داخل المصنع</option>
                            </select>
                        </div>
                        <div class="col-2">

                        </div>
                    </div>
                    <div class="sp-ch"><!--اذن خاص-->
                        <div class="row">
                            <div class="col-6">
                                <select id="dayPartSpecial" class="form-control">
                                    <option value="0">0</option>
                                    <option value="0.25">0.25</option>
                                    <option value="0.5">0.5</option>
                                    <option value="0.75">0.75</option>
                                    <option value="1.0">1.0</option>
                                </select>
                            </div>
                            <div class="col-2">
                                القيمة
                            </div>
                        </div>
                    </div>
                    <div class="sp-ch"><!--مأمورية-->

                        <div class="row">
                            <div class="col-4">
                                <input type="time" id="TOUTMission" style="border-radius:10px;text-align:center">
                            </div>

                            <div class="col-2">
                                الي
                            </div>
                            <div class="col-4">
                                <input type="time" id="TINMission" style="border-radius:10px;text-align:center">
                            </div>
                            <div class="col-2">
                                من
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <select id="deviceMOUT"
                                    onchange="$('.sp-ch #TOUTMission').eq(0).val($('.sp-ch #deviceMOUT').eq(0).val())"></select>
                            </div>
                            <div class="col-2"> </div>
                            <div class="col-4">
                                <select id="deviceMIN"
                                    onchange="$('.sp-ch #TINMission').eq(0).val($('.sp-ch #deviceMIN').eq(0).val())"></select>
                            </div>
                            <div class="col-2"> من البصمة</div>

                        </div>


                    </div>
                    <div class="sp-ch"><!--اجازة-->
                        <div class="row">
                            <div class="col-4">
                                <select id="dayPartSpecial" class="form-control">
                                    <option value="0.25">0.25</option>
                                    <option value="0.5">0.5</option>
                                    <option value="0.75">0.75</option>
                                    <option value="1.0">1.0</option>
                                </select>
                            </div>
                            <div class="col-2">
                                القيمة
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-4">
                                <input type="time" id="TOUTMission" style="border-radius:10px;text-align:center">
                            </div>

                            <div class="col-2">
                                الي
                            </div>
                            <div class="col-4">
                                <input type="time" id="TINMission" style="border-radius:10px;text-align:center">
                            </div>
                            <div class="col-2">
                                من
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <select id="deviceMOUT"
                                    onchange="$('.sp-ch #TOUTMission').eq(1).val($('.sp-ch #deviceMOUT').eq(1).val())"></select>
                            </div>
                            <div class="col-2"> </div>
                            <div class="col-4">
                                <select id="deviceMIN"
                                    onchange="$('.sp-ch #TINMission').eq(1).val($('.sp-ch #deviceMIN').eq(1).val())"></select>
                            </div>
                            <div class="col-2"> من البصمة</div>

                        </div>
                    </div>
                    <div class="sp-ch"><!--غياب-->

                        <div class="row">
                            <div class="col-2">
                                <select id="dayPartSpecial" class="form-control">
                                    <option value="0.25">0.25</option>
                                    <option value="0.5">0.5</option>
                                    <option value="0.75">0.75</option>
                                    <option value="1.0">1.0</option>
                                </select>
                            </div>
                            <div class="col-2">
                                القيمة
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer"><!--ADDSpecial-->
                        <button id="spBTN" onclick="/*ins_special()*/" type="button" class="btn btn-success"
                            data-bs-dismiss="modal">أضافة</button>
                        <button id="DELSpecial" onclick="del_special()" style="float:left" type="button"
                            class="btn btn-danger  " data-bs-dismiss="modal">حذف</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function userLog() {

        return {
            user: $("#userName").html(),
            ip: '@HttpContext.Current.Request.UserHostAddress',
        }
    }
</script>
<script src="~/Assets/attendanceSetup3.1.js?version=1.0.1"></script>
<script src="~/Assets/attendance3.1.js?version=1.0.1"></script>
<script>
    var q = window.location.href;
    var url = new URL(q);
    var fileNo = url.searchParams.get("fileNo");
    var M = url.searchParams.get("M");
    var Y = url.searchParams.get("Y");
    if (typeof fileNo !== 'object' && typeof M !== 'object' && typeof Y !== 'object') {
        $("#FN").val(fileNo);
        $("#M").val(M);
        $("#Y").val(Y);
        FN = fileNo;
        $("#loader").show();
        let archive = readSQL(`select * from SalarySheet sh join AttTable att on sh.Id=att.salarysheetid where filenumber=${FN} and month=${M} and year=${Y}`)
        if (archive.length == 0) {
            getdata(fileNo, M, Y, 1)
        }
        else {
            displayFromArchive(archive)
            $("input,select").attr("disabled", "true")
        }
    }
    // display from archive
    

</script>
