@{
    ViewBag.Title = "SalarySheet";
}
<!--
    var db = Database.Open("cs");
    -->


<h2>SalarySheet</h2>
<form id="myForm1" method="post">
    <div class="row">
        <div class="col-12">
            <div class="btn-group" role="group">
                <label class="input-group-text" for="file_number">File Number</label>
                <input class="form-control" type="number" name="file_number" id="file_number" required>
                <input class="btn btn-outline-dark" type="submit" value="إحضار">
            </div>
        </div>
    </div>
</form>
<form id="myForm2" method="post">
    <div class="row">
        <div class="col-12">
            <div class="btn-group" role="group">
                <label class="input-group-text" for="Dept">Departments</label>
                <select class="form-control" type="number" name="Dept" id="Dept" required>
                    <script>
                        var sql = "select distinct Department from SalarySheet";
                        var d = readSQL(sql);
                        for (let i = 0; i < d.length; i++) {
                            document.write(`<option value="` + d[i].Department + `">` + d[i].Department + `</option>`);
                        }
                    </script>
                </select>
                <input class="btn btn-outline-dark" type="submit" value="إحضار">
            </div>
        </div>
    </div>
</form>
<form id="myForm3" method="post">
    <div class="row">
        <div class="col-12">
            <div class="btn-group" role="group">
                <label class="input-group-text" for="year">Year</label>
                <select class="form-control" type="number" name="year" id="year" required>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                </select>
                <label class="input-group-text" for="month">Month</label>
                <select class="form-control" type="number" name="month" id="month" required>
                    <option value="1">يناير</option>
                    <option value="2">فبراير</option>
                    <option value="3">مارس</option>
                    <option value="4">ابريل</option>
                    <option value="5">مايو</option>
                    <option value="6">يونيو</option>
                    <option value="7">يوليو</option>
                    <option value="8">اغسطس</option>
                    <option value="9">سبتمبر</option>
                    <option value="10">اكتوبر</option>
                    <option value="11">نوفمبر</option>
                    <option value="12">ديسمبر</option>
                </select>
                <input class="btn btn-outline-dark" type="submit" value="إحضار">
            </div>
        </div>
    </div>
</form>
<div style="overflow-x:auto">
    <table dir="rtl" class="display" id="example" style="width:100%">
        <thead>
            <tr>
                <td class="filter">
                    رقم الملف
                </td>
                <td class="filter">
                    الاسم
                </td>
                <td class="filter">
                    حضور
                </td>
                <td class="filter">
                    أجازة
                </td>
                <td class="filter">
                    غياب
                </td>
                <td class="filter">
                    الاجر الشهري
                </td>
                <td class="filter">
                    قيمة الحضور
                </td>
                <td class="filter">
                    حافز الانتظام
                </td>
                <td class="filter">
                    حافز غلاء المعيشة
                </td>
                <td class="filter">
                    حافز مجلس الادارة
                </td>
                <td class="filter">
                    حافز المهارة
                </td>
                <td class="filter">
                    الاضافي
                </td>
                <td class="filter">
                    اجمالي المستحق
                </td>
                <td class="filter">
                    خصم التامين
                </td>
                <td class="filter">
                    تأخيرات
                </td>
                <td class="filter">
                    جزاءات
                </td>
                <td class="filter">
                    ملبس
                </td>
                <td class="filter">
                    سلف
                </td>
                <td class="filter">
                    أجمالي المستقطع
                </td>
                <td class="filter">
                    صافي المرتب
                </td>
                <td class="filter">
                    القسم
                </td>
                <td class="filter">
                    العام
                </td>
                <td class="filter">
                    الشهر
                </td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


</div>
<script>
    $(document).ready(function () {

        let table = $('#example').DataTable({
            orderCellsTop: true,
            //fixedHeader: true, 
            stateSave: true,
            scrollX: true,
            dom: 'QBlfrtip',
        });;
        $("#myForm1").submit((e) => {
            e.preventDefault();
            var sql = `select FileNumber,
                Name,
                Attendance,
                Vacation,
                Abcence,
                SalaryMonth,
                DaysValue,
                RegularityIncentive,
                ExpensiveIncetive,
                ManagmentIncetive,
                SkillIncentive,
                Overtime,
                Total1,
                Insurance,
                Sanctions_Delays,
                Delays,
                Deductions,
                Clothes,
                Loans,
                Total2,
                Total3,
                Department,	
                Year,
                Month from SalarySheet where filenumber=`+ $("#file_number").val();

            var d = readSQL(sql);
            table.clear();
            table.destroy();
            $("tbody").html("");
            for (let i = 0; i < d.length; i++) {
                //console.log(d[i]);

                $("tbody").append(`<tr>
                        <td>
                            <a href="/truant/Abscence?fileNo=`+ d[i].FileNumber + `&M=` + d[i].Month + `&Y=` + d[i].Year + `" target="_blank">
                            `+ d[i].FileNumber + `
                            </a>
                        </td>
                        <td style="white-space:nowrap">
                            `+ d[i].Name + `
                        </td>
                        <td>
                            `+ d[i].Attendance + `
                        </td>
                        <td>
                            `+ d[i].Vacation + `
                        </td>
                        <td>
                            `+ d[i].Abcence + `
                        </td>
                        <td>
                            `+ d[i].SalaryMonth + `
                        </td>
                        <td>
                            `+ d[i].DaysValue + `
                        </td>
                        <td>
                            `+ d[i].RegularityIncentive + `
                        </td>
                        <td>
                            `+ d[i].ExpensiveIncetive + `
                        </td>
                        <td>
                            `+ d[i].ManagmentIncetive + `
                        </td>
                        <td>
                            `+ d[i].SkillIncentive + `
                        </td>
                        <td>
                            `+ d[i].Overtime + `
                        </td>
                        <td>
                            `+ d[i].Total1 + `
                        </td>
                        <td>
                            `+ d[i].Insurance + `
                        </td>

                        <td>
                            `+ d[i].Delays + `
                        </td>
                        <td>
                            `+ d[i].Deductions + `
                        </td>
                        <td>
                            `+ d[i].Clothes + `
                        </td>
                        <td>
                            `+ d[i].Loans + `
                        </td>
                        <td>
                            `+ d[i].Total2 + `
                        </td>
                        <td>
                            `+ d[i].Total3 + `
                        </td>
                        <td>
                            `+ d[i].Department + `
                        </td>
                        <td>
                            `+ d[i].Year + `
                        </td>
                        <td>
                            `+ d[i].Month + `
                        </td>
                    </tr>`);
            }
            table = $('#example').DataTable({
                orderCellsTop: true,
                //fixedHeader: true, 
                stateSave: true,
                scrollX: true,
                dom: 'QBlfrtip',
            });
            //table.ajax.reload();
        });
        $("#myForm2").submit((e) => {
            e.preventDefault();
            var sql = `select FileNumber,
                Name,
                Attendance,
                Vacation,
                Abcence,
                SalaryMonth,
                DaysValue,
                RegularityIncentive,
                ExpensiveIncetive,
                ManagmentIncetive,
                SkillIncentive,
                Overtime,
                Total1,
                Insurance,
                Sanctions_Delays,
                Delays,
                Deductions,
                Clothes,
                Loans,
                Total2,
                Total3,
                Department,	
                Year,
                Month from SalarySheet where Department='${$("#Dept").val()}'`;

            var d = readSQL(sql);
            //console.log(d);       
            table.clear();
            table.destroy();
            $("tbody").html("");
            for (let i = 0; i < d.length; i++) {
                
                $("tbody").append(`<tr>
                        <td>
                            <a href="/truant/Abscence?fileNo=`+ d[i].FileNumber + `&M=` + d[i].Month + `&Y=` + d[i].Year + `" target="_blank">
                            `+ d[i].FileNumber + `
                            </a>
                        </td>
                        <td style="white-space:nowrap">
                            `+ d[i].Name + `
                        </td>
                        <td>
                            `+ d[i].Attendance + `
                        </td>
                        <td>
                            `+ d[i].Vacation + `
                        </td>
                        <td>
                            `+ d[i].Abcence + `
                        </td>
                        <td>
                            `+ d[i].SalaryMonth + `
                        </td>
                        <td>
                            `+ d[i].DaysValue + `
                        </td>
                        <td>
                            `+ d[i].RegularityIncentive + `
                        </td>
                        <td>
                            `+ d[i].ExpensiveIncetive + `
                        </td>
                        <td>
                            `+ d[i].ManagmentIncetive + `
                        </td>
                        <td>
                            `+ d[i].SkillIncentive + `
                        </td>
                        <td>
                            `+ d[i].Overtime + `
                        </td>
                        <td>
                            `+ d[i].Total1 + `
                        </td>
                        <td>
                            `+ d[i].Insurance + `
                        </td>
                        <td>
                            `+ d[i].Delays + `
                        </td>
                        <td>
                            `+ d[i].Deductions + `
                        </td>
                        <td>
                            `+ d[i].Clothes + `
                        </td>
                        <td>
                            `+ d[i].Loans + `
                        </td>
                        <td>
                            `+ d[i].Total2 + `
                        </td>
                        <td>
                            `+ d[i].Total3 + `
                        </td>
                        <td>
                            `+ d[i].Department + `
                        </td>
                        <td>
                            `+ d[i].Year + `
                        </td>
                        <td>
                            `+ d[i].Month + `
                        </td>
                    </tr>`);
            }
            
            table = $('#example').DataTable({
                orderCellsTop: true,
                //fixedHeader: true, 
                stateSave: true,
                scrollX: true,
                dom: 'QBlfrtip',
            });

        });
        $("#myForm3").submit((e) => {
            e.preventDefault();
            var sql = `select FileNumber,
                Name,
                Attendance,
                Vacation,
                Abcence,
                SalaryMonth,
                DaysValue,
                RegularityIncentive,
                ExpensiveIncetive,
                ManagmentIncetive,
                SkillIncentive,
                Overtime,
                Total1,
                Insurance,
                Sanctions_Delays,
                Delays,
                Deductions,
                Clothes,
                Loans,
                Total2,
                Total3,
                Department,	
                Year,
                Month from SalarySheet where Year= ${$("#year").val()} and Month= ${$("#month").val()}`; ;

            var d = readSQL(sql);
            table.clear();
            table.destroy();
            $("tbody").html("");
            for (let i = 0; i < d.length; i++) {
                //console.log(d[i]);

                $("tbody").append(`<tr>
                        <td>
                            <a href="/truant/Abscence?fileNo=`+ d[i].FileNumber + `&M=` + d[i].Month + `&Y=` + d[i].Year + `" target="_blank">
                            `+ d[i].FileNumber + `
                            </a>
                        </td>
                        <td style="white-space:nowrap">
                            `+ d[i].Name + `
                        </td>
                        <td>
                            `+ d[i].Attendance + `
                        </td>
                        <td>
                            `+ d[i].Vacation + `
                        </td>
                        <td>
                            `+ d[i].Abcence + `
                        </td>
                        <td>
                            `+ d[i].SalaryMonth + `
                        </td>
                        <td>
                            `+ d[i].DaysValue + `
                        </td>
                        <td>
                            `+ d[i].RegularityIncentive + `
                        </td>
                        <td>
                            `+ d[i].ExpensiveIncetive + `
                        </td>
                        <td>
                            `+ d[i].ManagmentIncetive + `
                        </td>
                        <td>
                            `+ d[i].SkillIncentive + `
                        </td>
                        <td>
                            `+ d[i].Overtime + `
                        </td>
                        <td>
                            `+ d[i].Total1 + `
                        </td>
                        <td>
                            `+ d[i].Insurance + `
                        </td>

                        <td>
                            `+ d[i].Delays + `
                        </td>
                        <td>
                            `+ d[i].Deductions + `
                        </td>
                        <td>
                            `+ d[i].Clothes + `
                        </td>
                        <td>
                            `+ d[i].Loans + `
                        </td>
                        <td>
                            `+ d[i].Total2 + `
                        </td>
                        <td>
                            `+ d[i].Total3 + `
                        </td>
                        <td>
                            `+ d[i].Department + `
                        </td>
                        <td>
                            `+ d[i].Year + `
                        </td>
                        <td>
                            `+ d[i].Month + `
                        </td>
                    </tr>`);
            }
            table = $('#example').DataTable({
                orderCellsTop: true,
                //fixedHeader: true, 
                stateSave: true,
                scrollX: true,
                dom: 'QBlfrtip',
            });
        });
    });

</script>
