
@{
    ViewBag.Title = "Log";
    Layout = null;
}
@Html.Partial("~/views/shared/_libs.cshtml");

<style>
   body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        overflow: hidden;
    }

    .card {
        margin-bottom: 20px;
        border: none;
        background: linear-gradient(to right, #b92b27, #1565c0);
    }

    .box {
        width: 650px;
        padding: 35px;
        
        background: #191919;
        text-align: center;
        transition: 0.25s;
       
        margin: 5% auto;
        border-radius: 10px;
        height: 655px;
        box-shadow: 4px 2px 2px 4px white;
    }

    .text-muted {
        color: brown !important;
        font-size: 27px;
    }

    .box input[type="text"],
    .box input[type="password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 10px 10px;
        width: 375px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        margin-top: 39px;
        font-size: 20px;
    }

    .box h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 41px;
        text-shadow: 4px 2px 2px red;
    }

    .box input[type="text"]:focus,
    .box input[type="password"]:focus {
        width: 300px;
        border-color: #2ecc71;
    }

    .box input[type="submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        font-size: 23px;
        margin-top: 62px;
    }

    .box input[type="submit"]:hover {
            background: #2ecc71;
        }

    .forgot {
        text-decoration: underline;
    }


    a.socialIcon:hover,
    .socialHoverClass {
        color: #44BCDD;
    }

    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        border-radius: 50%;
        text-align: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .social-circle li i {
        margin: 0;
        line-height: 50px;
        text-align: center;
    }

    .social-circle li a:hover i,
    .triggeredHover {
        transform: rotate(360deg);
        transition: all 0.2s;
    }

    .social-circle i {
        color: #fff;
        transition: all 0.8s;
        transition: all 0.8s;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 1px 1px 4px 3px powderblue;
        
    }
</style>
<main>
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
           
            <form id="login-form" method="post" class="box">
                <img class="mb-4" src="~/assets/img/logo.jpg" alt="" width="72" height="57">
                <h1>تسجيل الدخول</h1>
                <p class="text-muted">من فضلك ادخل البيانات </p>
                <input type="text" name="username" placeholder="اسم المستخدم" autocomplete="off">
                <input type="password" name="password" placeholder="الباسورد" autocomplete="off">
                @* <a class="forgot text-muted" href="#">Forgot password?</a>  *@
                <input type="submit" name="" value="تسجيل" href="#">
            </form>
        </div>

    </div>
</main>
<script>
    $("#login-form").submit((e) =>{
        e.preventDefault();
        //console.log($("#login-form").serializeArray())
        console.log($("#login-form").serialize())
        $.ajax({
            url: "ak_login?" + $("#login-form").serialize(),
            success: (res) => {
                console.log(res);
                if (res[0].status=="success")
                {
                    location.href="/home/";
                }
                else
                {
                    alert(res[0].message)
                }
            },
            fail: (res) => {
                console.log(res)
                //console.log(res)
                //alert(JSON.parse(res.responseText).status[0].message)
            },
            error: (res) => {
                //console.log(res.responseText)
                console.log(res)
                //alert(JSON.parse(res.responseText).status[0].message)
            }
        })
    })
</script>
