
@{
    ViewBag.Title = "All";
}
<h2>All</h2>
@using WebMatrix.Data;
<head>
    <!--script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></!--script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" /-->

    <style>
        table {
            margin: auto;
            width: 90%;
        }

        td, th {
            font-size: 24px;
            text-align: center;
        }

        #container {
            width: 90%;
        }
    </style>
</head>
<b style="font-size:large">department:</b>
@{
    var db = Database.Open("CS");
    var selectQueryString = "select Id,Name from Departements ORDER BY Name ";
    var selectQueryString2 = @"select ts.id,ts.DateFrom,ts.DateTo,ts.shiftid,ts.ShiftFrom,ts.ShiftTo,ts.ShiftHours,s.ShiftName from TempShifts ts join Shifts s on s.ShiftId=ts.ShiftId 
where isprivate = 1";
}
<select id="dept" class="input-lg">
    <option style="text-align:right" value="0">الكل</option>
    @foreach (var row in db.Query(selectQueryString))
    {
        <option style="text-align:right" value="@row.Id">@row.Name</option>
    }
</select>

<input type="button" onclick="search()" class="btn btn-primary btn-lg" value="search" />
<!--input type="text" id="myInput" placeholder="search..." class="input input-lg input-block"-->
<div id="container">
    <table id="example" class="display" style="width:100%"></table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display: flex;flex-direction: row;flex-wrap: nowrap;align-content: space-between;align-items: baseline;">
                <h2 class="modal-title" id="exampleModalLongTitle" style="width: 100%;">وردية اضافية خاصة</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:right;font-size:20px;font-weight:bold">
               <table>
                    
                    <tr>
                        <td colspan="2">
                            <div id="modalName"></div>
                        </td>
                        <td>
                            <div style="text-align:right;font-size:20px;font-weight:bold">الاسم</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="modalFN"></div>
                        </td>
                        <td>
                            <div style="text-align:right;font-size:20px;font-weight:bold">رقم الملف</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <select class="input-lg" id="shift_id">
                            <option style="text-align:right" value="0">بدون</option>
                            @foreach (var row in db.Query(selectQueryString2))
                            {
                                <option style="text-align:right" value="@row.Id">@row.ShiftName</option>
                            }
                        </select>
                       </td>
                        <td>
                           <div style="text-align:right">الوردية</div>
                        
                       </td>
                    </tr>
                    
                </table>
                <div class="modal-footer">
                    <button id="add" type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">تعديل</button>
                    <button id="delete" style="float:left" type="button" class="btn btn-danger btn-lg" data-dismiss="modal">delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end modal -->
<script>

    function search() {
           var columns = [];
            $.ajax({
                url: "getAlldata",
                data: { DeptId: $('#dept').val() },
                method: "post",
                success: function (data) {
                    console.log(data);              
                    var tb = $('#example').dataTable({
                        stateSave: true,
                        "destroy": true,
                        "data": data,
                        "columns": [
    {
        "data": "Name",
        "title": "Name"
    },
    {
        "data": "FileNumber",
        "title": "FileNumber"
    },
    {
        "data": "Department",
        "title": "Department"
    },
    {
        "data": "TempShiftId",
        "title": "TempShiftId"
    },
    {
        "data": "IsPrivate",
        "title": "IsPrivate",
        render: function (data, type) {
            if (type === 'display') {
               
                if (data == false) return '<img src="/Content/svg/solid/xmark.svg" style="width:36px;"/>';
                if (data == true) return '<img src="/Content/svg/solid/check.svg" style="width:36px;"/>';
            }
            return data;
        }
        
    }
                        ]
                    });
                },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
        }

        function addAddition(from1, fileNo1, hoursNo1, offset1) {
            $.ajax({
                url: "createAddition",//:,,,
                data: { from: from1, fileNo: fileNo1, hoursNo: hoursNo1, offset: offset1 },
                method: "post",
                type: "json",
                success: function (data) {
                    console.log(data);
                    search();
                },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
        }
        function addVacation(from1, fileNo1, dayPart1,type1) {
            //createVacation(DateTime from, int fileNo, float dayPart)
            $.ajax({
                url: "createVacation",//:,,,
                data: { from: from1, fileNo: fileNo1, dayPart: dayPart1,type:type1 },
                method: "post",
                type: "json",
                success: function (data) {
                    console.log(data);
                    search();
                },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
        }
        function delAddition(from1, fileNo1) {
            $.ajax({
                url: "deleteAddition",//:,,,
                data: { from: from1, fileNo: fileNo1 },
                method: "post",
                type: "json",
                success: function (data) {
                    console.log(data);
                    search();
                },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
        }
        function delVacation(from1, fileNo1) {
            $.ajax({
                url: "deleteVacation",//:,,,
                data: { from: from1, fileNo: fileNo1 },
                method: "post",
                type: "json",
                success: function (data) {
                    console.log(data);
                    search();
                },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
        }


        $('#add').click(function () {

             if (document.getElementById("afr_chk").checked == true) {
                if ($("#afr_txt").val() > 0) {
                    addAddition($('#dt').val(),document.getElementById("modalFN").innerHTML, $("#afr_txt").val(), 0)
                    console.log("ok after");
                }
                else {
                    alert("تأكد من قيمة ساعات الاضافي");
                }
            }
            if (document.getElementById("bfr_chk").checked == true) {
                if ($("#bfr_txt").val() > 0) {
                    addAddition($('#dt').val(), document.getElementById("modalFN").innerHTML, $("#bfr_txt").val(), 1)
                    console.log("ok before");
                }
                else {
                    alert("تأكد من قيمة ساعات الاضافي");
                }
            }


        });
        $('#delete').click(function () {
            //console.log($('#dt').val() + "," + document.getElementById("modalFN1").innerHTML + "," + $("#vac_txt").val() + "," + $("#type").val());
            delAddition($('#dt').val(), document.getElementById("modalFN").innerHTML);
        });
        $('#add1').click(function () {
            if ($("#vac_txt").val()==1||$("#vac_txt").val() ==.5||$("#vac_txt").val() ==.25) {
                //console.log($('#dt').val() + "," + document.getElementById("modalFN1").innerHTML + "," + $("#vac_txt").val() + "," + $("#type").val());
                addVacation($('#dt').val(), document.getElementById("modalFN1").innerHTML, $("#vac_txt").val(), $("#type").val());
                }
                else {
                    alert("تأكد من قيمة الاجازة");
                }
        });
        $('#delete1').click(function () {
                console.log($('#dt').val() + "," + document.getElementById("modalFN1").innerHTML + "," + $("#vac_txt").val() + "," + $("#type").val());
                delVacation($('#dt').val(), document.getElementById("modalFN1").innerHTML);
        });
        $('#example').on('click', 'td', function () {
            var table = $('#example').DataTable();
            var data = table.row(this).data();
            var index = table.column(this).index();

                //$('#modalName').html(data.name);
                $('#modalName').html(data.Name);
                $('#modalFN').html(data.FileNumber);
                $('#exampleModalLong').modal('show');
          
            console.log(data);
        })
</script>