
<style>
    label {
        font-size: 20px;
        background-color: azure;
        border: solid 1px azure;
        border-radius: 8px;
        padding: 8px;
    }
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
    
legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
</style>
<h2>Create new private shift</h2>
<div title="create new" id="privateform">
<form action="" method="post" class="container" onsubmit="return mySubmit()">
    <div class="card">
        <div class="row m-1">
            <div class="col-2">
                <label>
                    id
                </label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" name="id" disabled />
            </div>
            <div class="col-2">
                <label>
                    رقم الملف
                </label>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-10">
                        <input type="number" class="form-control" name="fileNo" onfocusout="selectList(this.value)" required />
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn" id="openList">&#9776;</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-1">
            <div class="col-2">
                <label>
                    الأسم
                </label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" name="name" disabled />
            </div>
        </div>
        </div>
    
        <div class="card">
            <fieldset class=scheduler-border>
                <legend class=scheduler-border>Date:</legend>
                <div class="row m-1">
                    <div class="col-2">
                        <label>
                           من
                        </label>
                    </div>
                    <div class="col-4">
                        <input type="date" class="form-control" name="dateFrom" required />
                    </div>
                    <div class="col-2">
                        <label>
                            الي
                        </label>
                    </div>
                    <div class="col-4">
                        <input type="date" class="form-control" name="dateTo" required />
                    </div>
                </div>
            </fieldset>
            <fieldset class=scheduler-border>
                <legend class=scheduler-border>Time:</legend>
                <div class="row m-1">
                    <div class="col-2">
                        <label>
                            من
                        </label>
                    </div>
                    <div class="col-4">
                        <input type="time" class="form-control" name="timeFrom" required />
                    </div>
                    <div class="col-2">
                        <label>
                            الي
                        </label>
                    </div>
                    <div class="col-4">
                        <input type="time" class="form-control" name="timeTo" onchange="convert(this.value)" onkeyup="convert(this.value)" required />
                    </div>
                </div>
            </fieldset>
        </div>
    <input class="btn btn-primary" type="submit">
</form>
</div>
<div id="employees">
    <table id="empTable" class="display" width=600></table>
</div>
<script>

    var data1 = readSQL('select e.id, fileNumber fileNo,knownas name,totalsalary basicsalary,isnull(IsPrivate,0) IsPrivate from Employees e left join basicbayworks b on e.id=b.employeeid where IsPrivate=1');
    var f;
    $("#empTable").dataTable({
        data:data1,
        columns:[
        {
            title:"id",
            data:"id",
            width:"20px",
        },
        {
            title:"رقم الملف",
            data:"fileNo",
            width:"20px",
        },
        {
            title:"الاسم",
            data:"name",
            width:"20px",
        },
        {
            title:"أختر",
            data:"fileNo",
            width:"20px",
            render:function(e)
            {
                return '<button class="btn btn-primary" onclick="selectList('+e+')">اختر</button>'
            }
        },
        ]
    });
    var dialog=$( "#employees" ).dialog({
        autoOpen: false,
        height: 500,
        width: 600,
        modal: true,
    });
    $("#openList").button().on( "click", function() {
        dialog.dialog( "open" );
    });
    function selectList(e)
    {
        f = data1.filter(w=>w.fileNo == e);
        if (f.length > 0) {
            $("input[name=id]").val(f[0].id);
            $("input[name=name]").val(f[0].name);
            $("input[name=fileNo]").val(f[0].fileNo);
        }
        else
        {
            $("input[name=id]").val("");
            $("input[name=name]").val("");
            $("input[name=fileNo]").val("");
        }
        //console.log(f.length)
        dialog.dialog( "close" );
    }

    function convert(e)
    {
        $("input[name=amount]").val(f[0].basicsalary*e/30);
    }
    function mySubmit()
    {
    var  sql = `insert TempShifts(DateFrom,DateTo,ShiftId,ShiftFrom,ShiftTo,ShiftHours,DepartmentId,isPrivate)
 values('${ $("input[name=dateFrom]").val()}', '${ $("input[name = dateTo]").val()}', 0,'${ $("input[name=timeFrom]").val()}','${ $("input[name = timeTo]").val()}', abs(cast(DATEDIFF(MINUTE, '${ $("input[name= timeFrom]").val()}', '${ $("input[name=timeTo]").val()}') as float) /60), 0, 1)
insert into TempShiftentry(fileNumber, tempShiftId) values(${ $("input[name = fileNo]").val()}, IDENT_CURRENT('dbo.TempShifts'))
`
    if(excuteSQL(sql)==1)
    {
        alert("insert successfully!");
    }
    else
    {
        alert("delete successfully!");
    }
        //console.log(sql)
    return false;
}
</script>