
@{
    ViewBag.Title = "Index";
    Layout = "";
    string id = Session["login"].ToString();
    var user = Services.UserService.GetById(int.Parse(id));
    string name = user.FirstName + " " + user.SecondName;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="~/assets2/css/medai.css" />



<div class="row one mt-0 " style="margin-bottom: 180px;">
    <div class="col-md-4">
        <div class="btn-group   w-100">
            <button type="button" class="btn p-4 w-100 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Employee
            </button>
            <div class="dropdown-menu" style="max-height:450px;overflow-y:auto">

                <a class="dropdown-item zzz" href="/Departement/Index" style="padding: 3px 10px;">Departement</a>
                <a class="dropdown-item zzz" href="/TypeEmployee/Index" style="padding: 3px 10px;">Type</a>
                <a class="dropdown-item zzz" href="/Class/Index" style="padding: 3px 10px;">Class</a>
                <a class="dropdown-item zzz" href="/Company/Index" style="padding: 3px 10px;">Company</a>
                <a class="dropdown-item zzz" href="/Location/Index" style="padding: 3px 10px;">Location</a>
                <a class="dropdown-item zzz" href="/EmployeeGroup/Index" style="padding: 3px 10px;">Employee Group</a>
                <a class="dropdown-item zzz" href="/EmployeeSubGroup/Index" style="padding: 3px 10px;">Employee Sub-Group</a>
                <a class="dropdown-item zzz" href="/PayllorArea/Index" style="padding: 3px 10px;">Payllor Area</a>
                <a class="dropdown-item zzz" href="/National/Index" style="padding: 3px 10px;">Nationality</a>
                <a class="dropdown-item zzz" href="/Religion/Index" style="padding: 3px 10px;">Relgion</a>
                <a class="dropdown-item zzz" href="/BankAccount/Index" style="padding: 3px 10px;"> Bank Account</a>
                <a class="dropdown-item zzz" href="/MedicalCover/Index" style="padding: 3px 10px;">Medical Cover</a>
                <a class="dropdown-item zzz" href="/LiveCover/Index" style="padding: 3px 10px;">Live Cover</a>
                @*<a class="dropdown-item zzz" href="/Otherallowance/Index" style="padding: 3px 10px;">Other allowance</a>*@
                <a class="dropdown-item zzz" href="/ReasonForEvent/Index" style="padding: 3px 10px;">Reasson for event</a>
                <a class="dropdown-item zzz" href="/ContractType/Index" style="padding: 3px 10px;">Contract Type</a>
                <a class="dropdown-item zzz" href="/JobTitle/Index" style="padding: 3px 10px;">Job Title</a>
                <a class="dropdown-item zzz" href="/Status/Index" style="padding: 3px 10px;">Status</a>
                <a class="dropdown-item zzz" href="/CostCenter/Index" style="padding: 3px 10px;">Cost Center</a>
                <a class="dropdown-item zzz" href="/EventType/Index" style="padding: 3px 10px;">Event Type</a>
                <a class="dropdown-item zzz" href="/CashOrBank/Index" style="padding: 3px 10px;">Cash / Bank</a>
                <a class="dropdown-item zzz" href="/City/Index" style="padding: 3px 10px;">City</a>
                <a class="dropdown-item zzz" href="/Country/Index" style="padding: 3px 10px;">Country</a>

                <a class="dropdown-item zzz" href="/HealthInsuranceCompanyName/Index" style="padding: 3px 10px;">Health Insurance Company Name</a>
                <a class="dropdown-item zzz" href="/TypeOfHealthInsurance/Index" style="padding: 3px 10px;">Type of Health Insurance</a>
                <a class="dropdown-item zzz" href="/EducationalStatus/Index" style="padding: 3px 10px;">Educational Status</a>


            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn-group w-100">
            <button type="button" class="btn p-4 w-100 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Basic Pay Work Time
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item zzz" href="/PayScaleArea/index">Pay Scale Area</a>
                <a class="dropdown-item zzz" href="/Grade/Index">Grade</a>
                <a class="dropdown-item zzz" href="/Level/Index">Level</a>
                <a class="dropdown-item zzz" href="/PayScaleType/Index">Pay Scale Type</a>
                <a class="dropdown-item zzz" href="/AllowanceGroup/Index">Allowance Group</a>
                <a class="dropdown-item zzz" href="/Currency/Index">Currency</a>

                <a class="dropdown-item zzz" href="/WageCode/Index">Wage Type</a>
                <a class="dropdown-item zzz" href="/InsuranceAuthority/Index">Insurance Authority</a>
            </div>
        </div>
    </div>
    @*<div class="col-md-3">
            <div class="btn-group w-100">
                <button type="button" class="btn p-4 w-100 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Social Insurance

                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item zzz" href="/InsuranceType/Index">Insurance Type</a>
                    <a class="dropdown-item zzz" href="/ContributionPeriod/Index">Contribution Period</a>
                </div>
            </div>
        </div>*@
    @*<div class="col-md-3">
            <div class="btn-group w-100">
                <button type="button" class=" btn p-4 w-100 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shift
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item zzz" href="#">Active/Disactive</a>
                    <a class="dropdown-item zzz" href="#">From Day</a>
                    <a class="dropdown-item zzz" href="#">To Day</a>
                    <a class="dropdown-item zzz" href="/ShiftHoliday/Index">
                        Holidays
                    </a>

                </div>
            </div>
        </div>*@
    <div class="col-md-4">
        <div class="btn-group w-100">
            <button type="button" class="btn p-4 w-100 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Attendance

            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item zzz" href="/AbsenceType/Index">Absence Type</a>
                <a class="dropdown-item zzz" href="/AttendanceType/Index">Attendance Type</a>

            </div>
        </div>
    </div>
    @*<div class="col-md-3">
            <div class="btn-group w-100">
                <button type="button" class="btn p-4  w-100 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Salary Sheet Calculations

                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item zzz" href="/Class/Index">Class</a>
                    <a class="dropdown-item zzz" href="#">Poriod</a>
                </div>
            </div>
        </div>*@
  

</div>
<div class="row two" style="margin-bottom:180px">
    <div class="col-md-4">
        <div class="btn-group w-100">
            <button type="button" class="btn p-4 w-100 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                General

            </button>
            <div class="dropdown-menu">
                @*<a class="dropdown-item zzz" href="/SalaryDetails/Index">Salary Details </a>*@
                <a class="dropdown-item zzz" href="/Profit/Index">Profit </a>

                <a class="dropdown-item zzz" href="/InsurancePrecentage/Index"> InsurancePrecentage </a>
                <a class="dropdown-item zzz" href="/CompanyDetails/Index"> Company Details </a>
                <a class="dropdown-item zzz" href="/Bonus/Index"> Bonus </a>
                <a class="dropdown-item zzz" href="/Incentive/Index"> Incentive </a>

            </div>
        </div>
    </div>

    @*<div class="col-md-3">
            <div class="btn-group w-100">
                <button type="button" class="btn p-4 w-100 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Import Master Attendances
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item zzz" href="#">Sheet Name</a>
                </div>
            </div>
        </div>*@
    @*<div class="col-md-3">
            <div class="btn-group w-100">
                <button type="button" class="btn w-100 p-4 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Import Monthly Attendances

                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item zzz" href="#">Sheet Name</a>
                </div>
            </div>
        </div>*@
    <div class="col-md-4">
        <div class="btn-group w-100">
            <button type="button" class="btn p-4 w-100 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Payment And Deductions

            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item zzz" href="/RecurringOneTime/Index">Recurring /One Time</a>
                <a class="dropdown-item zzz" href="/PaymentDeduction/Index">Payment/Deduction</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn-group w-100">
            <button type="button" class="btn p-4 w-100 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Month

            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item zzz" href="/Month/Index">Start and end</a>
            </div>
        </div>
    </div>


</div>
<div class="row m-b-50 mt-4">



</div>

<!--  -->







<div id="hiddenDiv">

</div>


@*<script type="text/javascript" src="~/bower_components/jquery/js/jquery.min.js"></script>
    <script src="~/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/bower_components/bootstrap/js/bootstrap.min.js"></script>
     jquery slimscroll js
    <script type="text/javascript" src="~/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
     modernizr js
    <script type="text/javascript" src="~/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/bower_components/modernizr/js/css-scrollbars.js"></script>
     Calender js
    <script type="text/javascript" src="~/bower_components/moment/js/moment.min.js"></script>
    <script type="text/javascript" src="~/assets2/pages/widget/calender/pignose.calendar.min.js"></script>
     classie js
    <script type="text/javascript" src="~/bower_components/classie/js/classie.js"></script>
     c3 chart js
    tabel
    <script type="text/javascript" src="~/assets2/pages/edit-table/jquery.tabledit.js"></script>
    <script type="text/javascript" src="~/assets2/pages/edit-table/edittable1.js"></script>


    <script src="~/bower_components/c3/js/c3.js"></script>
     knob js
    <script src="~/assets2/pages/chart/knob/jquery.knob.js"></script>
    <script type="text/javascript" src="~/assets2/pages/widget/jquery.sparkline.js"></script>
     Rickshow Chart js
    <script src="~/bower_components/d3/js/d3.js"></script>
    <script src="~/bower_components/rickshaw/js/rickshaw.js"></script>
     Morris Chart js
    <script src="~/bower_components/raphael/js/raphael.min.js"></script>
    <script src="~/bower_components/morris.js/js/morris.js"></script>
     Todo js
    <script type="text/javascript" src="~/assets2/pages/todo/todo.js"></script>
     Float Chart js
    <script src="~/assets2/pages/chart/float/jquery.flot.js"></script>
    <script src="~/assets2/pages/chart/float/jquery.flot.categories.js"></script>
    <script src="~/assets2/pages/chart/float/jquery.flot.pie.js"></script>
     echart js
    <script src="~/assets2/pages/chart/echarts/js/echarts-all.js" type="text/javascript"></script>
     Horizontal-Timeline js
    <script type="text/javascript" src="~/assets2/pages/dashboard/horizontal-timeline/js/main.js"></script>
     amchart js
    <script type="text/javascript" src="~/assets2/pages/dashboard/amchart/js/amcharts.js"></script>
    <script type="text/javascript" src="~/assets2/pages/dashboard/amchart/js/serial.js"></script>
    <script type="text/javascript" src="~/assets2/pages/dashboard/amchart/js/light.js"></script>
    <script type="text/javascript" src="~/assets2/pages/dashboard/amchart/js/custom-amchart.js"></script>
     i18next.min.js
    <script type="text/javascript" src="~/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="~/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="~/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="~/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
     Custom js
    <script type="text/javascript" src="~/assets2/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="~/assets2/js/script.js"></script>
     pcmenu js
    <script src="~/assets2/js/pcoded.min.js"></script>
    <script src="~/assets2/js/demo-12.js"></script>
    <script src="~/assets2/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
<script src="~/assets2/js/jquery.mousewheel.min.js"></script>
<script src="~/assets2/js/min.js"></script>
<script>
    $(document).ready(function () {
        $('#upd').on('click', function () {
            alert("haaay");
            var ArrName = $('.abd').val();
            var ArrCode = $('.abc').val();

            console.log(ArrName);
            console.log(ArrCode);

        })

        $('.zzz').on('click', function () {
            $(function () {
                $("#dii").dialog({
                    width: 800,
                    height: 600,
                    position: { my: "center ", at: "center", of: window },



                });


            });
            $('.clos').click(function () {
                $('.fff').hide()
            })
        })
    })

</script>
<script>
    $(document).ready(function () {
        /* var w =$('.example-1').rows.length;
         w=10;
        var u= $('.oo').width();
        $('.oo').scrollTop(u)*/

    })
</script>
<script>
    var t = document.title;
    document.title = t + "- Setting Table"
</script>


</body>

</html>

