@model ViewModel.UserVM
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("Login", "User", FormMethod.Post, htmlAttributes: new { @class = "needs-validation" }))
{
    <div class="auth-box">
        <div class="row m-b-20">
            <div class="col-md-12">
                <h3 class="text-left txt-primary">Sign In</h3>
                <h5 class="text-left txt-primary" style="color:red">@ViewBag.mes</h5>
            </div>
        </div>
        <hr>
        <div class="form-group">

            @Html.EditorFor(ee => ee.UserName, new { htmlAttributes = new { @class = "form-control", Placeholder = "User Name" } })

        </div>
        <div class="form-group">
            @Html.EditorFor(ee => ee.Password, new { htmlAttributes = new { @class = "form-control", Placeholder = "Password" } })

        </div>
        <div class="form-group">

            @Html.DropDownListFor(ee => ee.CompanyId, ViewBag.Companies as SelectList, "Select Company",htmlAttributes: new { @class = "custom-select", Placeholder = "Company" })
            <div class="invalid-tooltip">
                Please choose a menu.
            </div>

        </div>

        <div class="row m-t-30">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12" ta>
                <a href="https://www.instagram.com/itsbo11/
" style="text-decoration:none" target="_blank">
                    <i class="fab fa-instagram mr-1" style="color:#DA173C"></i>
                </a>
                <a href="https://www.facebook.com/itsbo/
" style="text-decoration:none" target="_blank">
                    <i class="fab fa-facebook mr-1" style="color:#4064AD"></i>
                </a>
                <a href="https://www.linkedin.com/company/it-sbo
" style="text-decoration:none" target="_blank">
                    <i class="fab fa-linkedin mr-1" style="color:#006295"></i>
                </a>
                <a href="https://twitter.com/ITSBO11
" style="text-decoration:none" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCX2xVlv7cI0aTiVs8xRaNKA
" style="text-decoration:none" target="_blank">
                    <i class="fab fa-youtube" style="color:#FF011D"></i>
                </a>
            </div>
        </div>
        <div class="col-md-12 pr-0 mt-1" style="text-align:right">
            <a href="/User/ForgetPassword" style="text-decoration:none">Forget password?</a>

        </div>


        <hr>
    </div>
    <div>
    </div>
}

<script src="~/assets/js/jquery.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    var t = document.title;
    document.title = t + "-Login"
</script>